video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('./../YCL9p7Z1Zag.jpg') no-repeat;
    background-size: cover; 
}

.home-content {
    background: rgba(0, 0, 0, 0.7);
    padding: .9375rem;
    border: 2px solid #FFF;
    border-radius: .25rem;
    color: #FFF;
    margin-top: 2%;
}

@media screen and (max-width: 768px) {
    .home-bg {
         background: url('./../YCL9p7Z1Zag.jpg') #000 no-repeat center center fixed;
         height: 100%;
         width: 100%;
         position: fixed;
    }
    #bgvid {
        display: none;
    }
}