// Colors from colors.css
$colors: (
    aqua: $aqua,
    blue: $blue,
    navy: $navy,
    teal: $teal,
    green: $green,
    olive: $olive,
    lime: $lime,
    yellow: $yellow,
    orange: $orange,
    red: $red,
    fuchsia: $fuchsia,
    purple: $purple,
    maroon: $maroon,
    white: $white,
    silver: $silver,
    gray: $gray,
    black: $black
);

@each $color, $hex-color in $colors {
    body.user-color__#{$color} {
        a {
            color: $hex-color;
            transition: all 0.2s;
            &:hover {
                color: darken($hex-color, 10%);
                transition: all 0.2s;
                text-decoration: none;
            }
        }
        a.a-btn { color: $white; }
        .form-control { border-color: $hex-color; }
        .btn-primary {
            background-color: $hex-color;
            border-color: $hex-color;
            transition: all 0.2s;
            &:hover {
                background-color: darken($hex-color, 10%);
                transition: all 0.2s;
            }
        }
    }

    @if $color == black {
        body.user-color__#{$color} {
            a:hover { color: lighten($hex-color, 10%); }
            .btn-primary:hover { background-color: lighten($hex-color, 10%); }
            a.remove-idol {
                color: $white;
                &:hover { color: darken($white, 10%); }
            }
            footer {
                background-color: $hex-color;
                color: $white;
                a {
                    color: $white;
                    &:hover { color: darken($white, 10%); }
                }
            }
        }
    } @else if $color == white {
        body.user-color__#{$color} {
            a,
            .btn-primary {
                color: $black;
                &:hover { color: lighten($black, 10%); }
            }
            a.remove-idol {
                color: $hex-color;
                &:hover { color: darken($hex-color, 10%); }
            }
            .login-form,
            .btn-primary,
            .form-control { border-color: $black; }
            footer {
                background-color: $hex-color;
                border-top: 1px solid $black;
                color: $black;
            }
        }
    }
}
