// Set out Variables
$enable-flex: true;
$enable-shadows: true;
$enable-gradients: true;
$font-family-sans-serif: 'avenir next', avenir, helvetica, 'helvetica neue', arial, sans-serif;

// Get our colors
@import './node_modules/colors.css/sass/colors';

// Import Bootstrap
@import './node_modules/bootstrap/scss/bootstrap';

// Vertically Center Classes
@import './utils/_vertically-center';

// General Styles
@import './_general';

// Login Styles
@import './_login';

// Pages Styles
@import './pages/_home';
@import './pages/_user';

// Set our brand-primary color from the user
@import './utils/_set-user-color';
