body {
	margin: 0;
	padding: 0;
    min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

	background: linear-gradient(to right, #f49cc8, #f4f4f4);
	color: #fff;

	text-align: center;
}

a,
a:visited {
	color: #FF4136;
	transition: all .2s;
}
a:hover,
a:focus {
	color: #ee201d;
	transition: all .2s;
}

.info {
	background: rgba(0, 0, 0, 0.6);
	padding: 15px;
	border-radius: 5px;
	margin-top: 15px;
}
.info h1 {
	border-bottom: 2px solid #fff;
	display: inline-block;
	margin-bottom: 0;
}
