body {
	margin: 0;
	padding: 0;
    min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

	background: linear-gradient(10deg, #f49cc8, #f4f4f4);
	color: #fff;
}

a,
a:visited {
	color: #FF4136;
	transition: all .2s;
}
a:hover,
a:focus {
	color: #ee201d;
	transition: all .2s;
}

.clearfix {
	clear: both;
}

.group {
	border-bottom: 2px solid #fff;
	margin-bottom: 15px;
}
	.group h2 {
		color: #111;
		margin: 0;
	}
	.group:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}

.info-area {
	background: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	margin-top: 15px;
	position: fixed;
	width: inherit;

	text-align: center;
}
.info {
	padding: 15px;
}
	.info h1 {
		border-bottom: 2px solid #fff;
		display: inline-block;
		margin-bottom: 0;
	}
